// css img, button, title, icon, elements...
img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  outline: 0;
  object-fit: contain;
  &.--center {
    margin: 0 auto;
    display: block;
  }
}

a {
  text-decoration: none;
  outline: 0;
}
.--h2 {
  @include text(db, var(--fs-h1), var(--lh-h1), var(--white-cl));
}
.--h3 {
  @include text(db, var(--fs-h2), var(--lh-h2), var(--white-cl));
}
.--h4 {
  @include text(db, 2.2rem, 3.1rem, var(--white-cl));
}
.--h5 {
  @include text(db, var(--fs-h5), var(--lh-h5), var(--white-cl));

  letter-spacing: var(--lt-h5);
}
.link {
  text-decoration: underline;
  color: var(--white-cl);
}
.label {
  @include text(db, var(--fs-lb), var(--lh-lb), var(--white-cl), uppercase);
  letter-spacing: var(--ls-lb);
}
.textbody1 {
  @include text(dr, var(--fs-body1), var(--lh-body1), var(--white-cl));
}
strong {
  font-family: db; // optional
}

.--hidden {
  display: none;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
.btnblue {
  background: var(--main-cl);
  padding: 27px 32px;
  border-radius: 80px;
  cursor: pointer;
  @include transition(var(--t));
  @include mid(true);
  @include text(db, var(--fs-btn), var(--lh-btn), var(--white-cl), uppercase);
  letter-spacing: 1.6px;
  max-height: 70px;
  gap: 8px;
  a {
    color: var(--white-cl);
  }
  &:hover {
    @include transition(var(--t));
    background: var(--hover-cl);
  }
}
.btngray {
  background: rgba(255, 255, 255, 0.1);
  padding: 27px 32px;
  border-radius: 80px;
  cursor: pointer;
  @include transition(var(--t));
  @include mid(true);
  @include text(db, var(--fs-btn), var(--lh-btn), var(--white-cl), uppercase);
  letter-spacing: 1.6px;
  &:hover {
    @include transition(var(--t));
    background: var(--hover-cl);
  }
}
.btnwhite {
  background: var(--white-cl);

  padding: 27px 32px;
  border-radius: 80px;
  cursor: pointer;
  @include transition(var(--t));
  @include mid(true);
  @include text(db, var(--fs-btn), var(--lh-btn), var(--main-cl), uppercase);
  letter-spacing: 1.6px;
  max-height: 56px;
  &:hover {
    @include transition(var(--t));
    background: var(--hover-cl);
    color: var(--white-cl);
  }
}
.btnhvblue {
  background: var(--hover-cl);
  padding: 27px 32px;
  border-radius: 80px;
  cursor: pointer;
  @include transition(var(--t));
  @include mid(true);
  @include text(db, var(--fs-btn), var(--lh-btn), var(--white-cl), uppercase);
  letter-spacing: 1.6px;
  max-height: 56px;
  gap: 8px;
  a {
    color: var(--white-cl);
  }
  &:hover {
    @include transition(var(--t));
    background: var(--main-cl);
  }
}
.lgcompany {
  &_textbox {
    text-align: center;
  }
  &_listlogo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 27px;
    margin-top: 36px;
  }

  @include sm {
    margin-top: initial;

    &_listlogo {
      gap: 16px;
    }
  }
  @include xs {
    &_listlogo {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: initial;
      margin-top: 25px;
      a:last-child {
        grid-column: 1/3;
        @include mid(0);
      }
      .img {
        margin: 0 auto;
      }
    }
  }
}
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  height: 60px;
  .img {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    height: 60px;
    width: 60px;
    img {
      @include midimg;
    }
  }
  .textbox {
    padding: 8px 0;
    .name {
      @include text(db, var(--fs-btn), var(--lh-btn), var(--white-cl), uppercase);
    }
    .text {
      @include text(dr, var(--fs-btn), var(--lh-btn), var(--white-cl), uppercase);
    }
  }
}
.gricon {
  margin-top: 32px;
  .item {
    display: flex;
    align-items: center;
    gap: 17px;
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }
}
.bloglist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap26);
  @include sm {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.blogcard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  border-radius: var(--brus);
  background: var(--dark-blue);
  gap: var(--gap);
  grid-auto-flow: row;

  .blogimg {
    grid-area: 1/2/2/3;
    aspect-ratio: 586/334;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    img {
      @include midimg;
    }
  }
  .bloginfo {
    grid-area: 1/1/2/2;

    padding: 58px 78px 36px 48px;
    margin-top: initial;
    z-index: 1;
    position: relative;
    .content {
      .title {
        @include text(db, var(--fs-blog), var(--lh-blog), var(--white-cl));
        letter-spacing: var(--lt-tblog);
      }
      .btnblue {
        max-width: max-content;
        @include text(dm, var(--fs-tag), var(--lh-tag), var(--white-cl), uppercase);
        letter-spacing: var(--ls-tag);
        padding: 9px 15px;
        margin-bottom: 21px;
      }
      .desc {
        margin-top: 6px;
        margin-bottom: 0;
        @include overtext(3);
      }
    }
    .author {
      display: none;
    }
  }
  &:hover {
    .blogimg {
      img {
        @include imghover(1.05);
      }
    }
  }
  @include xs {
    display: flex;
    flex-direction: column;
    .blogimg {
      grid-area: auto;

      aspect-ratio: 382/215;
    }
    .bloginfo {
      grid-area: auto;

      padding: 0 23px 34px 30px;
      margin-top: -33px;
      .content {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .title {
          @include overtext(initial);
          margin-bottom: 6px;
        }
        .btnblue {
          margin-bottom: 24px;
        }
        .desc {
          margin-bottom: 30px;
          @include overtext(initial);
        }
      }
      .author {
        display: flex;
        margin-top: 23px;
      }
    }
  }
}
.blogcardcolumn {
  display: flex;
  flex-direction: column;
  .blogimg {
    aspect-ratio: 382/215;
    grid-area: auto;

    width: 100%;
    position: relative;
  }
  .bloginfo {
    grid-area: auto;

    padding: 0 23px 34px 30px;
    margin-top: -45px;
    z-index: 1;
    position: relative;
    .content {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      .title {
        @include overtext(2);
        margin-bottom: 0;
      }
      .btnblue {
        max-width: max-content;
        @include text(dm, var(--fs-tag), var(--lh-tag), var(--white-cl), uppercase);
        letter-spacing: var(--ls-tag);
        padding: 9px 15px;
        margin-bottom: 24px;
      }
      .desc {
        margin-top: 16px;
        margin-bottom: 30px;
        @include overtext(3);
      }
    }
    .author {
      display: flex;
      margin-top: 23px;
    }
  }

  @include xs {
    .bloginfo {
      margin-top: -30px;
      .content {
        .title {
          @include overtext(initial);
        }
        .desc {
          @include overtext(initial);
        }
      }
    }
  }
}
.sub {
  background: var(--main-cl);
  padding-top: 64px;
  padding-bottom: 84px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_textbox {
    @include mid(true);
    max-width: 615px;
    gap: 25px;
  }
  &_form {
    width: 480px;
    position: relative;
    height: 80px;
    &-inpt {
      width: 100%;
      height: 100%;
      padding-left: 16px;
      outline: none;
      color: var(--black-cl);
      border-radius: 100px;
      position: relative;
    }
    &-btn {
      position: absolute;
      right: 8px;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
  @include sm {
    .container {
      flex-direction: column;
      gap: 20px;
    }
  }
  @include xxs {
    padding: 80px 0;
    &_textbox {
      flex-direction: column;
      text-align: center;
      gap: 32px;
    }
    &_form {
      width: 100%;
      height: auto;
      &-inpt {
        height: 80px;
      }
      &-btn {
        position: relative;
        width: 100%;
        margin-top: 20px;
        right: initial;
        top: initial;
        @include transform(translateY(0));
      }
    }
  }
}

.textboxtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  .text {
    max-width: 480px;
  }
  @include sm {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
    .text {
      max-width: none;
      margin-right: 0;
    }
  }
}
.textboxbtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  .grbtns {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    .btn {
      width: max-content;
      padding: 11px 24px;
      line-height: 2.6rem;
      font-family: dr;
      text-transform: capitalize;
      letter-spacing: 0;
      &.active {
        background: var(--main-cl);
      }
    }
  }
}
.popupvideo {
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  @include visible(0);
  @include transition(var(--t));
  &_inner {
    width: 80%;
    height: 80%;
    max-width: 1200px;
    @include mid;
    &-iframe {
      width: 100%;
      aspect-ratio: 16/9;
      @include mid;
      border: 5px solid var(--white-cl);
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--main-cl);
        @include mid(1);
        color: var(--white-cl);
        font-size: 20px;
        cursor: pointer;
      }
    }
    @include sm {
      width: calc(100% - 20px);
    }
  }
  &.active {
    @include transition(var(--t));
    @include visible;
  }
}
