.footer {
  background: var(--dark-blue);
  padding-top: 56px;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
    &--social {
      display: flex;
      gap: 12px;
    }
  }
  &__center {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 26px;
    margin-bottom: 125px;
    &--menu {
      grid-area: 1/1/2/4;
      .labelmenu {
        display: block;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--white-cl);
        width: 100%;
        @include text(db, 1.8rem, 2.6rem, var(--white-cl), uppercase);
        letter-spacing: 0.09rem;
      }
      .nav {
        width: 100%;
        // column-count: 2;
        // column-gap: 50px;
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
          width: 50%;
          list-style: none;
          a {
            @include text(dm, 1.4rem, normal, var(--white-cl), uppercase);
            letter-spacing: 0.14rem;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            padding: 5px 0;
            &::before {
              content: "";
              background: var(--white-cl);
              width: 100%;
              height: 1px;
              position: absolute;
              left: 50%;
              bottom: 5px;
              @include transition(var(--t));
              @include transform(translate(-50%, -50%) scale(0));
            }
            &:hover {
              &::before {
                @include transform(translate(-50%, -50%) scale(1));
                @include transition(var(--t));
              }
            }
          }
          &.active {
            a {
              letter-spacing: 1.5px;
            }
          }
        }
      }
    }
    &--btnbox {
      grid-area: 1/8/2/13;
      background: rgba(255, 255, 255, 0.1);
      border-radius: var(--brus);
      padding: 44px 32px;
      .desc {
        margin-top: 7px;
        margin-bottom: 24px;
      }
      .btnlist {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 16px;
        .btn {
          padding: 27px 32px;
        }
      }
    }
  }
  &__bottom {
    padding: 32px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    span {
      @include text(dr, var(--fs-body1), var(--lh-body1), var(--white-cl));
    }
  }
  @include md {
    &__center {
      margin-bottom: 75px;
      &--menu {
        grid-area: 1/1/2/5;
      }
      &--btnbox {
        grid-area: 1/6/2/13;
      }
    }
  }
  @include sm {
    &__center {
      margin-bottom: 32px;

      &--menu {
        // grid-area: auto;
        .nav {
          // text-align: center;
        }
      }
      &--btnbox {
        grid-area: 1/5/2/13;
      }
    }
    &__bottom {
      text-align: center;
    }
  }
  @include maxW(795px) {
    &__center {
      grid-template-columns: 1fr;
      gap: 50px;
      &--menu {
        grid-area: auto;
        .nav {
          .item {
            &.active {
              a {
                font-size: 1.4rem;
                line-height: 1.6rem;
              }
            }
          }
        }
      }
      &--btnbox {
        grid-area: auto;
        .btnlist {
          flex-direction: column;
          .btn {
            width: 100%;
          }
        }
      }
    }
    &__top {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      margin-bottom: 45px;
    }
  }
  @include xxs {
    &__center {
      &--menu {
        grid-area: auto;
        .nav {
          text-align: initial;
        }
      }
    }
  }
}
