.aboutpage {
  .main {
    .info {
      padding-bottom: 232px;
      &__intro {
        padding-top: 192px;
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 122px;
        &--title {
          margin-bottom: 21px;
        }
      }

      &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap);
        margin-top: 29px;
        &--item {
          display: flex;
          align-items: flex-start;
          padding: 58px 32px;
          gap: 24px;
          background: var(--dark-blue);
          border-radius: var(--brus);
          .img {
            width: 68px;
          }
          .content {
            .desc {
              margin-top: 2px;
            }
          }
        }
      }
      &__blur {
        max-width: initial;
        position: absolute;
        z-index: -1;
        top: 0%;
        left: -35%;
      }
      @include sm {
        overflow: hidden;
        padding-bottom: 0;
        &__intro {
          margin-bottom: 60px;
          padding-top: 120px;
        }
        &__top {
          display: block;
          text-align: center;
        }
        &__blur {
          left: -50%;
        }
      }
      @include xs {
        &__intro {
          text-align: initial;
          margin-bottom: 48px;
          padding-top: 121px;
        }
        &__top {
          display: block;
          text-align: initial;
          margin-bottom: 16px;
          &--desc {
            max-width: 100%;
          }
        }
        &__list {
          grid-template-columns: 1fr;
          grid-template-rows: initial;
          margin-top: 16px;
          &--item {
            flex-direction: column;
          }
        }
        &__blur {
          left: -70%;
        }
      }
      @include xxs {
        &__intro {
          &--title {
            margin-bottom: 16px;
          }
        }
        &__blur {
          left: -200%;
        }
      }
    }
    .our {
      overflow: hidden;
      padding-bottom: 191px;
      .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gap);
      }
      &__content {
        grid-column: 1/8;
        padding-right: 80px;
        &--item {
          &:not(:last-child) {
            margin-bottom: 78px;
          }
          .title {
            margin-bottom: 16px;
            &::first-letter {
              text-transform: uppercase;
            }
          }
        }
      }
      &__img {
        grid-column: 8/13;
        margin-right: -157px;
      }
      @include md {
        padding-bottom: 80px;
        .container {
          grid-template-columns: 1fr;
        }
        &__content {
          grid-column: initial;
          padding-right: initial;
        }
        &__img {
          grid-column: initial;
          max-width: max-content;
          margin: 0 auto;
          margin-top: 20px;
        }
      }
      @include sm {
        padding-top: 44px;
      }
      @include xs {
        // &__img {
        //   margin-top: 50px;
        //   margin-bottom: 80px;
        //   margin-right: -50px;
        // }
      }
    }
    .timeline {
      padding-bottom: 120px;
      .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gap);
        position: relative;
      }
      &__intro {
        grid-column: 1/5;
        height: 240px;
        max-width: 385px;
        position: sticky;
        top: 90px;
        .title {
          margin-bottom: 16px;
        }
      }
      &__list {
        grid-column: 6/13;
        display: flex;
        flex-direction: column;
        gap: 80px;
        &--item {
          padding-bottom: 40px;
          display: flex;
          gap: 54px;
          border-bottom: 1px solid var(--white-cl);
          .content {
            display: flex;
            flex-direction: column;
            gap: var(--gap16);
            .year {
              @include text(db, 2.8rem, 3rem, var(--white-cl), uppercase);
              letter-spacing: 0.028rem;
            }
          }
        }
      }
      @include sm {
        .container {
          grid-template-columns: 1fr;
        }
        &__intro {
          grid-column: auto;
          position: relative;
          max-width: 100%;
          top: initial;
          height: auto;
          margin-bottom: 40px;
        }
        &__list {
          grid-column: auto;
        }
      }
      @include xs {
        padding-bottom: 80px;
        &__intro {
          margin-bottom: 25px;
        }
      }
    }
    .team {
      padding-bottom: 127px;
      &__top {
        margin-bottom: 49px;
        &--title {
          text-transform: capitalize;
        }
      }
      &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 38px;
        &--card {
          border-radius: var(--brus);
          padding: 24px;
          background: var(--dark-blue);
          .img {
            aspect-ratio: 327/400;
            position: relative;
            border-radius: 32px;
            overflow: hidden;
            margin-bottom: 32px;
            cursor: pointer;

            img {
              @include midimg;
            }
          }
          .infoathur {
            @include text(dr, 1.6rem, 1.8rem, var(--white-cl), uppercase);
            .name {
              cursor: pointer;

              @include text(db, 1.6rem, 1.8rem, var(--white-cl), uppercase);
            }
            .job {
              margin-top: 13px;
            }
          }
          &:hover {
            .img {
              img {
                @include imghover(1.05);
              }
            }
          }
        }
      }
      @include sm {
        &__cards {
          grid-template-columns: 1fr 1fr;
        }
      }
      @include xxs {
        padding-bottom: 80px;

        &__top {
          flex-direction: column;
          margin-bottom: 24px;
        }
        &__cards {
          grid-template-columns: 1fr;
          gap: 16px;
          &--card {
            .info {
              text-align: center;
            }
          }
        }
      }
    }
    .lgcompany {
      padding-bottom: 230px;
      &__textbox {
        margin-bottom: 5px;
        .text {
          max-width: 500px;
          margin: 0 auto;
          margin-top: 16px;
        }
      }
      @include sm {
        padding-bottom: 75px;
      }
      @include xs {
        padding-bottom: 80px;

        &__listlogo {
          margin-top: 48px;
        }
      }
    }
  }
}
