.blogpostpage {
  .main {
    .article {
      padding-top: 200px;
      padding-bottom: 35px;

      &__top {
        max-width: 945px;
        margin-left: 100px;
        &--author {
          margin-bottom: 40px;
          img {
            margin: 0;
          }
        }
        &--desc {
          margin-top: 16px;
        }
        @include md {
          padding-top: 121px;
          margin-left: 0;
          .container {
            padding-left: var(--gap);
          }
        }
        @include xs {
          margin-left: 0;
          padding-bottom: 0px;
          .container {
            grid-template-columns: 1fr;
            gap: 32px;
            padding-left: var(--gap);
          }
          &__ath {
            grid-column: auto;
            margin-bottom: 32px;
          }
        }
      }
      &__content {
        max-width: 780px;
        margin: 0 auto;
      }
      @include md {
        padding-top: 0;
      }
      @include xs {
        padding-top: 0;
      }
    }

    .contentlist {
      padding-bottom: 115px;
      .container {
        display: flex;
        flex-direction: column;
        gap: 64px;
      }
      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        max-width: 790px;
        margin: 0 auto;
        &.thumb {
          max-width: initial;
        }
        &--para {
          .title {
            margin-bottom: 24px;
            max-width: 670px;
          }
        }
        &.img {
          max-width: max-content;
          margin: 0 auto;
        }
        &.textbox {
          background: var(--dark-blue);
          max-width: 100%;
          width: 994px;
          padding: 80px 64px;
          border-radius: var(--brus);
          .text {
            max-width: 613px;
          }
        }
      }
      @include xs {
        padding-bottom: 64px;
        .container {
          gap: 40px;
        }
      }
    }
    .listblog {
      padding: 120px 0;

      @include xxs {
        padding: 80px 0;
        &__top {
          flex-direction: column;
          text-align: center;
          gap: var(--gap);
          margin-bottom: 40px;
        }
      }
    }
  }
}
