.homepage {
  overflow-x: hidden;

  .main {
    .banner {
      position: relative;
      height: 100vh;
      min-height: 100vh;
      width: 100%;
      .container {
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 100px;
      }
      &_textbox {
        position: relative;
        z-index: 2;
        width: 813px;
      }
      &_plannet {
        width: 450px;
        position: relative;

        .plannet {
          max-width: initial;
          position: absolute;
          top: 50%;
          left: 55%;

          @include transform(translate(-50%, -50%));
        }
        .blur {
          position: absolute;
          z-index: -1;
          max-width: initial;
          left: 50%;

          top: 50%;
          @include transform(translate(-50%, -50%));
        }
      }
      &_blur {
        position: absolute;
        z-index: -1;
        top: 7%;
        left: 13%;
        @include transform(translate(-50%, -50%));
      }
      &_textbox {
        // max-width: 780px;
        // position: absolute;
        // top: 50%;

        // left: 0%;
        // @include transform(translateY(-50%));
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // width: 70%;
        .text {
          max-width: 568px;
          margin-top: 10px;
          margin-bottom: 40px;
        }
        &-btngr {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: var(--gap);
        }
      }
      @include lg {
        overflow: hidden;
      }
      @include sm {
        height: initial;
        padding-bottom: 30px;
        .container {
          flex-direction: column;
        }
        &_blur {
          display: none;
        }
        &_textbox {
          position: relative;
          z-index: 2;
          width: 100%;
        }
        &_plannet {
          width: 100%;
          margin-top: 32px;
          .plannet {
            max-width: 100%;
            margin: 0 auto;
            position: relative;
            left: initial;
            top: initial;
            @include transform(translate(0, 0));
          }
          .blur {
            left: 100%;
            top: 0%;
            @include transform(translate(-50%, -50%));
          }
        }
      }
      @include xs {
        .container {
          flex-direction: column;
        }
        &_plannet {
          .blur {
            top: -27%;
          }
        }
        &_textbox {
          &-btngr {
            flex-direction: column;
            .btn {
              width: 100%;
            }
          }
        }
        &_blur {
          display: none;
        }
      }
    }
    .lgcompany {
      padding-top: 123px;
      @include xs {
        padding-top: 33px;
      }
    }
    .build {
      padding-top: 173px;
      position: relative;
      overflow: hidden;
      &_textbox {
        text-align: center;
        .text {
          max-width: 465px;
          margin: 0 auto;
          margin-top: 15px;
        }
      }
      &_grbox {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 325px 485px 325px;
        grid-template-rows: repeat(2, 295px);
        gap: 32px;
        &-item {
          background: var(--dark-blue);
          border-radius: 40px;
          padding: 48px 23px;

          .textbox {
            margin-top: 15px;
          }
          &.item3 {
            background: var(--main-cl);
            grid-area: 1/2/3/3;
            overflow: hidden;
            padding-top: 44px;
            .textbox {
              .text {
                margin-top: 25px;
              }
            }
            .img {
              width: 100%;
              margin: 0 auto;
              margin-top: 73px;
              img {
                margin: 0 auto;
              }
            }
          }
        }
      }
      &_btn {
        margin-top: 48px;
        .btnblue {
          margin: 0 auto;
          max-width: max-content;
        }
      }
      &_blur {
        position: absolute;
        z-index: -1;
        top: -9%;
        right: -95px;
      }
      @include md {
        &_grbox {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      @include sm {
        padding-top: 65px;
        &_grbox {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: max-content;
          gap: var(--gap);
          margin-top: 50px;
          &-item {
            &.item3 {
              grid-area: 3/1/4/3;
              .textbox {
                .text {
                  margin-top: 16px;
                }
              }
              .img {
                margin-bottom: -191px;
                margin-top: 25px;
              }
            }
          }
        }
        &_btn {
          margin-top: 40px;
        }
        &_textbox {
          .text {
            margin-top: 5px;
          }
        }
        &_blur {
          top: -9%;
          right: initial;
          left: 50%;
          @include transform(translateX(-50%));
          max-width: initial;
        }
      }
      @include xs {
        &_textbox {
          text-align: initial;
          .text {
            max-width: none;
          }
        }
        &_grbox {
          grid-template-columns: 1fr;
          margin-top: 14px;
          &-item {
            &.item3 {
              grid-area: auto;
            }
          }
        }
      }
    }
    .earnmobile {
      position: relative;
      .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gap);
      }
      &_img {
        grid-area: 1/1/2/7;
      }
      &_content {
        grid-area: 1/8/2/13;
        margin: auto 0;
        &-title {
          margin-bottom: 19px;
        }
      }
      &_blur {
        position: absolute;
        z-index: -1;
        top: 25%;
        left: 50%;
        @include transform(translateX(-50%));
      }
      @include sm {
        overflow: hidden;
        .container {
          grid-template-columns: 1fr;
        }
        &_img {
          grid-area: auto;
          margin: 0 auto;
        }
        &_content {
          grid-area: auto;
          &-title {
            margin-bottom: 8px;
          }
          &-listicon {
            margin-top: 13px;
          }
        }
        &_blur {
          max-width: 217%;
          top: 0;
        }
      }
    }
    .earnlaptop {
      padding-top: 80px;
      overflow: hidden;
      .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gap);
      }
      &_content {
        grid-area: 1/1/2/6;
        margin: auto 0;
      }
      &_img {
        grid-area: 1/6/2/13;
        margin-right: -300px;
      }
      @include sm {
        .container {
          grid-template-columns: 1fr;
        }
        &_content {
          grid-area: auto;
          margin: auto 0;
          margin-top: 10px;
        }
        &_img {
          grid-area: auto;
          margin-right: auto;
        }
      }
      @include xs {
        &_img {
          margin-top: 25px;
        }
      }
    }
    .explore {
      background: var(--main-cl);
      margin-top: 218px;
      .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gap);
        // padding: 120px 0;
        max-height: 513px;
      }
      &_content {
        grid-area: 1/1/2/7;
        margin: auto 0;
        &-title {
          margin-bottom: 16px;
        }
        &-btn {
          margin-top: 32px;
          max-width: 214px;
        }
      }
      &_img {
        grid-area: 1/7/2/13;
        margin-top: -56px;
        // img {
        //   // overflow: hidden;
        //   // position: absolute;
        // }
      }
      @include sm {
        margin-top: 80px;
        .container {
          grid-template-columns: 1fr;
          padding-top: 40px;
          padding-bottom: 0;
          max-height: initial;
          overflow: hidden;
        }
        &_content {
          grid-area: auto;
          text-align: center;
          &-title {
            margin-bottom: 10px;
          }
          &-btn {
            margin: 0 auto;
            max-width: max-content;
            margin-top: var(--gap);
          }
        }
        &_img {
          grid-area: auto;
          margin: 0 auto;
          margin-bottom: -190px;
        }
      }
      @include xs {
        .container {
          gap: 5px;
        }
        &_content {
          &-title {
            margin-bottom: 5px;
          }
        }
        &_img {
          margin-bottom: -80px;
        }
      }
    }
    .review {
      position: relative;
      padding-top: 200px;
      overflow: hidden;

      &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 33px;
      }
      &_carousel {
        // height: 343px;
        .flickity-viewport {
          height: 100%;
          overflow: initial;
        }
        outline: none;
        &-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: max-content;
          width: calc(calc(100% / 2) - calc(var(--gap26) / 2));
          background: var(--dark-blue);
          border-radius: 40px;
          padding: 65px 50px;
          margin-right: var(--gap26);
          opacity: 0.3;
          @include transition(var(--t) opacity);
          .desc {
            margin-bottom: 25px;
            height: auto;
          }
          &.is-selected {
            opacity: 1;
            @include transition(var(--t) opacity);
          }
        }
        .flickity-page-dots {
          @include mid(true);
          margin-top: 40px;
          bottom: 0;
          gap: 14px;
          position: relative;

          .dot {
            width: 14px;
            height: 14px;
            background: var(--white-cl);
            opacity: 0.4;
            border-radius: 50%;
            cursor: pointer;
            @include transition(var(--t) opacity);

            &.is-selected {
              opacity: 1;
              @include transition(var(--t) opacity);
            }
          }
        }
      }

      @include sm {
        &_carousel {
          &-item {
            margin-right: 10px;
          }
        }
      }
      @include xs {
        padding-top: 120px;
        &_top {
          flex-direction: column;
          align-items: initial;
          &-btn {
            margin-top: 22px;
          }
        }
        &_carousel {
          &-item {
            width: calc(100% - calc(var(--gap) * 2));
            margin-right: 8px;
          }
        }
        &_dotted {
          margin-top: 32px;
          @include transition(var(--t));
        }
      }
    }
    .video {
      padding-top: 160px;
      position: relative;
      .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gap);
      }
      &_content {
        grid-area: 1/1/2/6;
        margin: auto 0;
      }
      &_imgbox {
        grid-area: 1/6/2/13;
        margin-left: 26px;
        &-img {
          border-radius: 40px;
          overflow: hidden;
          position: relative;
          aspect-ratio: 662/400;
          width: 100%;
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(1, 7, 37, 0.6);
          }
          .img {
            @include midimg;
          }
          .btn {
            z-index: 2;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.2);
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%) scale(1));
            @include transition(var(--t));
            .iconplay {
              @include mid;
              fill: var(--white-cl);
              @include transition(var(--t));
            }
          }
          // @keyframes pulse {
          //   0% {
          //     @include transform(translate(-50%, -50%) scale(1));
          //   }
          //   25% {
          //     @include transform(translate(-50%, -50%) scale(1.05));
          //   }
          //   50% {
          //     @include transform(translate(-50%, -50%) scale(1));
          //   }
          //   75% {
          //     @include transform(translate(-50%, -50%) scale(1.05));
          //   }
          //   100% {
          //     @include transform(translate(-50%, -50%) scale(1));
          //   }
          // }
          &:hover {
            .img {
              @include imghover(1.05);
            }
            .btn {
              // @include animation(pulse 0.8s alternate infinite);
              border: 1px solid var(--main-cl);

              @include transition(var(--t));
              .iconplay {
                fill: var(--main-cl);
              }
            }
          }
        }
      }
      &_blur {
        position: absolute;
        top: -5%;
        left: -14%;
        z-index: -1;
        @include transform(translateY(-50%));
      }
      @include sm {
        .container {
          grid-template-columns: 1fr;
        }
        &_content {
          grid-area: auto;
        }
        &_imgbox {
          grid-area: auto;
          margin-left: 0;
        }
      }
      @include xs {
        padding-top: 120px;
      }
      @include xxs {
        .container {
          gap: 40px;
        }

        &_imgbox {
          grid-area: auto;
          margin-left: 0;
          &-img {
            aspect-ratio: 358/400;
          }
        }
      }
    }
    .blog {
      padding-top: 170px;

      &_btn {
        margin: 0 auto;
        margin-top: 40px;
        max-width: 245px;
      }
      @include sm {
        padding-top: 60px;
        &_top {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 24px;
          &-text {
            max-width: none;
          }
        }

        &_btn {
          margin-top: 16px;
        }
      }
      @include xs {
        padding-top: 80px;
      }
    }
    .down {
      padding: 120px 0;

      &_list {
        display: flex;
        justify-content: space-between;
        gap: 70px;
        &-item {
          background: var(--dark-blue);
          border-radius: var(--brus);
          padding: 48px 48px 0 48px;
          overflow: hidden;
          .content {
            margin-bottom: 40px;

            .desc {
              margin-top: 16px;
              margin-bottom: 32px;
            }
            .btn {
              max-width: max-content;
              display: flex;
              gap: 8px;
            }
          }
          .img {
            margin-bottom: -440px;
            img {
              margin: 0 auto;
            }
          }
        }
      }
      @include sm {
        &_list {
          flex-direction: column;
          gap: 16px;
          &-item {
            padding: 32px 32px 0 32px;
            .img {
              margin-bottom: -400px;
            }
          }
        }
      }
      @include xs {
        padding: 80px 0;
        &_list {
          &-item {
            .img {
              margin-bottom: -50%;
            }
          }
        }
      }
      @include xxs {
        &_list {
          &-item {
            .img {
              margin-bottom: -329px;
            }
          }
        }
      }
    }
  }
}
